:root {
  --header-h: 150px;
}

/* ===== HEADER STICKY ===== */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #FED420;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
  height: var(--header-h);
}

/* ===== LOGO ===== */
#image-title {
  height: var(--header-h);
  margin-left: 100px;
  margin-right: 50px;
}
