:root{
  --header-h: 120px;   /* alto del header */
  --sidebar-w: 220px;  /* ancho del navbar */
}

html, body, #root {
  height: 100%;
}


*{ margin:0; 
  padding:0; 
  box-sizing:border-box; }

body{ overflow-x:hidden; 
  font-family: system-ui, Arial, sans-serif; }

#container-pages{
  display: flex;
  flex-direction: column;
  margin-left: 200px; 
  padding: 16px;
  min-height: 100vh;

}

/* App.css
#container-pages{
  display: grid;
  grid-template-columns: var(--sidebar-w) 1fr;
  min-height: calc(100vh - var(--header-h));} */


.card { transition: transform .15s ease; }
.card:hover { transform: translateY(-2px); }

@keyframes fadeInUp {
  from{ opacity:0; transform: translateY(12px); }
  to  { opacity:1; transform: none; }
}

@media (max-width: 1024px){
  #container-pages{ margin-left: 180px; }
}

@media (max-width: 768px){
  #container-pages{
    margin-left: 0; 
    padding: 12px;
  }
}
