.card-character {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 0, 0.66);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: justify;
  max-width:  350px;
  margin: 10px;
  img{
    height: 200px;
    border-radius: 8px;
    object-fit: contain;
    &:hover{
      transform: scale(1.2);
      transition: all 0.3s ease-in-out;
    }
  }
}